@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Amatic+SC&family=Caveat:wght@500&family=Cookie&family=Dancing+Script&family=Luckiest+Guy&family=Merienda:wght@700&family=Open+Sans+Condensed:wght@300&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
#testi1 {
    color: seagreen;
    font-family: 'Open Sans Condensed', sans-serif;
}
#testi2 {
    color: purple;
    font-size: 50px;
}
#testi3 {
    color: aqua;
    font-size: 45px;
}
#testi4 {
    color: saddlebrown;
    font-size: 40px;
}
#testi5 {
    color: red;
    font-size: 35px;
}
#testi6 {
    color: blue;
    font-size: 30px;
}
#testi7 {
    color: green;
    font-size: 25px;
}
#testi8 {
    color: deepskyblue;
    font-size: 20px;
}
#testi9 {
    color: deeppink;
    font-size: 15px;
}
#testi10 {
    color: orange;
    font-size: 10px;
}
#testi11 {
    font-family: 'Dancing Script', cursive;
}
#testi12 {
    font-family: 'Shadows Into Light', cursive;
}
#testi13 {
    font-family: 'Permanent Marker', cursive;
}
#testi14 {
    font-family: 'Caveat', cursive;
}
#testi15 {
    font-family: 'Alfa Slab One', cursive;
}
