#tausta {
  background-color: #D370F2;
  margin: 50px 50px 0 50px;
  padding: 10px 10px 10px 30px;
  border-left-style: solid;
  border-color: #A430CA;
  border-width: 8px;
  overflow: hidden;
}

#luku {
  padding: 5px 5px;
  font-size: 16px;
}

#tulokset {
  color: #39004B;
  font-size: 25px;
  font-weight: bold;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #A430CA;
  padding: 10px 10px;
}

h1 {
  color: #570371;
  border-bottom: #FFF dashed 1px;
  border-color: #570371;
  font-size: 21px;
  margin-left: -23px;
}

p {
  font-size: 19px;
  color: #570371;
}

button {
  padding: 12px 15px;
  font-size: 16px;
  background-color: #A430CA;
  color: #39004B;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
}
